.play-btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
    i {
        margin-left: 3px;
    }
}
.tags-container {
    display: flex;    
    margin-top: 8px;

    @media screen and (max-width: 992px){
        overflow-x: auto;
    }
    
}
.tag {
    margin-right: 20px;
    margin-bottom: 5px;
    color: #8d8d8d;
    font-size: 13px;
    flex-shrink: 0;
    padding: 5px 10px;
    border: 1px solid #2e3945;
    border-radius: 5px;
}

.track-title {
    .title-block {
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        flex-wrap: wrap;
    }
    .title {
        overflow: hidden;
        max-width: 100%;
        display: block;
        color: #dddde3;
        font-weight: 500;
    }
}

@media screen and (min-width: 992px) {
    .tags-container {
        flex-wrap: wrap;
    }
}