.artist-page {
    .artist-name {
        margin-bottom: 2px;
        font-weight: 700;
        @media screen and (max-width: 600px){
            font-size: 16px;
        }
    }
    .track-item {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
        transition: all 0.15s linear;
        border-bottom: 1px solid #e9ecef;
        &:hover {
            background: #e9ecef;
            cursor: pointer;
        }
        // &:nth-of-type(odd) {
        //     background: #f3f4f4;
        // }
    }
    .profile-box {
        position: relative;
        text-align: center;
        padding: 25px;
        height: 200px;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.04);
        background-color: #394d62;
        background-position: center;
        color: #fff;
        z-index: 1;
        display: flex;
        vertical-align: middle;
        justify-content: center;
        img {
            border-radius: 50%;
            max-width: 300px;
        }

        .public-links {
            margin-bottom: 15px;

            .public-link {
                color: #fff;
                font-size: 12px;
            }
        }
    }

    .tracks-wrapper {
        // box-shadow: 0px 2px 5px rgba(0,0,0,0.04);
        padding: 0px 30px;
        // border-radius: 5px;
        position: relative;
        // top: -55px;
        // background: #191a2c;

        @media screen and (max-width: 600px) {
            padding: 15px 5px;
        }
    }

    .track-title {
        flex-grow: 1;
        margin-left: 25px;

        @media screen and (max-width: 600px) {
            margin-left: 10px;
        }

        @media screen and (max-width: 992px){
            overflow: hidden;
        }
    }
    .tracks-container {
        box-shadow: 0 4px 20px -2px rgba(0,0,0,.2);
    }
    .action-container {
        display: flex;
        text-align: center;
        padding: 8px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #e9ecef;
        flex-wrap: wrap;
        justify-content: space-between;
        vertical-align: middle;
        box-shadow: 0 4px 20px -2px rgba(0,0,0,.2);
        .search-filter-container {
            position: relative;
            span {
                display: block;
                display: block;
                position: absolute;
                top: 12px;
                right: 10px;
            }
            input {
                height: 40px;
                border: 1px solid #ededed;
                width: 260px;
                border-radius: 30px;
                padding: 5px 10px;
                // position: relative;
                @media screen and (max-width: 400px){
                    width: 230px;
                }
                &::before {
                    content: "A";
                    position: absolute;
                    right: 5px;

                }
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    font-size: 12px;
                  }
                &::-moz-placeholder { /* Firefox 19+ */
                    font-size: 12px;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    font-size: 12px;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    font-size: 12px;
                }
            }
        }
    }

    .playall-btn {
        width: 110px;
        height: 30px;
        font-size: 14px;
        line-height: 15px;
        background-color: #ee3b50;
        color: #f9f9f9;
        border-radius: 30px;
    }
    .add-to-playlist-btn {
        border-radius: 50%;
        padding: 5px;
        height: 40px;
        width: 40px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
        // margin-top: 5px;
    }

    .inner-card-item {
        justify-content: flex-start;
    }
    .artist-playlist-container {
        // background: #f4f4f4;
        padding: 25px;
    }
}
.simple-modal {
    .modal-header {
        height: 90px;
        background: #9b2dbe;
        color: #fff;
    }
    .modal-body {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
    .modal-content{
        border: none;
    }
    .modal-footer {
        justify-content: center;
        background: #ededed;
        >div {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .add-to-playlist-btn {
            margin-left: 10px;
        }
    }
    .modal-header, .modal-footer {
        border: 0;
    }
    .user-playlists {
        list-style-type: none;
        padding: 0;
        li {
            border-bottom: 1px solid #ededed;
            cursor: pointer;
            padding: 5px;
            &:hover {
                background: #ededed;
            }
        }
    }
}
