.artist-page.artist-playlist-page {
    .action-container {
        justify-content: space-between;
        margin-top: -10px;

        button {
            margin-top: 10px;
        }
    }
    .playall-btn {
        background-color: #ee3b50;
        color: #fff;
    }
}